<h1 class="register-title">Register</h1>
<% if(locals.message !== null){ %> 
    <%= message %>
<% } %>
<form method="POST" action="/register" class="register-form">
    <input type="text" id="name" name="name" placeholder="Username">
    <input type="email" id="email" name="email" placeholder="Put a false email here.">
    <input type="password" id="password" name="password" placeholder="Put a easy password that you don't use.">
    <button type="submit">Register</button>
    <a href="/login">Login</a>
</form>
