<form autocomplete="off" id = "add-word-form"> 
    <input id="word-content" type="text" placeholder="Word" name = "content">
    <input id="word-reading"type="text" placeholder="Reading" name = "reading">
    <div id="word-meanings" class="meanings">
        <input type="text" placeholder="Meaning" name = "meaning">
        <button id="add-more-meanings" class="add-more-meanings" type="button">Add More</button>
    </div>
    <input id="word-example" type="text" placeholder="Example" name = "example">
    <%- include ("knowledgeLevel") %>
    <%- include ("labelsTags") %>
    <button class="submit-word" id="submit-word">Add Word</button> 
</form>
