<form autocomplete="off" id="add-word-form">
    <input id="word-content" type="text" placeholder="Word" name="content">
    <input id="word-reading" type="text" placeholder="Reading" name="reading">
    <div id="word-meanings-examples" class="meanings">
        <div class="meaning-example-group">
            <input class="word-input" type="text" placeholder="Meaning" name="meaning" required>
            <input class="word-example"type="text" placeholder="Example" name="example" required>
        </div>
        <button id="add-more-meanings" class="add-more-meanings" type="button">Add More</button>
    </div>

    <%- include ("knowledgeLevel") %>
    <%- include ("labelsTags") %>
    <button class="submit-word" id="submit-word" type="button">Add Word</button>
</form>