<form id="create-label-form" class="create-label-form">
    <p class="create-label-title">Create a new Category</p>
    <div class="help-sign">
        <span>2</span>
        <div class="help-explanation">
            Here you will create the categories you will use in the form above, try to write "Lesson 1" then press Create, when the text in the input box disappears the new category is created. Refer back to ①　and: <br> <b>- press space to see all your categories</b> <p style="text-align: center; padding: 0px; margin: 0px;">or</p> <br> <b>- type the first few letters then click or use the up/down arrows</b>
        </div>
    </div>

    <input class="label-text-input" type="text">
    <button class="label-submit" type="submit">Create</button>
</form>