<header>
    <div class="header-logo-image">
        <img alt="LOGO">
    </div>
    <div class="header-link">

        <a href="/">  Add Words</a>
    </div>
    <div class="header-link">

        <a href="/words"> See Words</a>
    </div>
    <div class="header-link">

        <a href="/practice">  Practice</a>
    </div>
</header>
<div class="header-decoration-line"></div>