<div class="knowledge-level">
    <p> Knowledge Level</p>
    <div id="word-knowledge-rate" class="rate">
        <input type="radio" id="star3" value="3" name="rate"  >
        <label for="star3" title="text">★</label>
        <input type="radio" id="star2" value="2" name="rate"  >
        <label for="star2" title="text">★</label>
        <input type="radio" id="star1" value="1" name="rate"  >
        <label for="star1" title="text">★</label>
      </div>
</div>