<div class="labels-tags">
    <p class="add-categories-title">Add Categories</p>
    <div class="help-sign">
        <span>1</span>
        <div class="help-explanation">
            Here you will add in which Categories you want your word to be in. For example you might study vocabulary of lesson 3 from
            a book, if you add "行く" some tags would be: "Lesson 3", "U-verb" so that later you can practice/search
            your words based on that tag. <b>Refer to ② and add your first Categories!</b>
        </div>
    </div>

    <div id="tag-list" class="tag-list" for="tag-input">
        <div id="autocomplete" class="autocomplete">
            <input type="text" class="tag-input" id="tag-input" autocomplete="off">
        </div>
    </div>
</div>