<div class="labels-tags">
    <p>Add Categories</p>
    <div id="tag-list" class="tag-list" for="tag-input">
        <div id="autocomplete" class="autocomplete">
            <input type="text" class="tag-input" id="tag-input" autocomplete="off">
        </div>
    </div>
</div>