<div class="search-criteria">
    <div class="search-criteria-labels-tag">
        <p>By label</p>
        <%- include ("labelsTags") %>
    </div>

    <div class="search-criteria-knowledge-level">
        <div class="search-criteria-check-box">
            <span> Unknown </span>
            <input type="checkbox" value="1">
        </div>
        <div class="search-criteria-check-box">
            <span> Familiar </span>
            <input type="checkbox" value="2">
        </div>
        <div class="search-criteria-check-box">
            <span> Well Known </span>
            <input type="checkbox" value="3">
        </div>
    </div>
    <button id="search-button" class="search-button" type="submit"> Search! </button>
</div>