<div class="search-criteria">
    <div class="search-criteria-labels-tag">
        <%- include ("labelsTags") %>
    </div>

    <div id="search-criteria-knowledge-level" class="search-criteria-knowledge-level">
        <div class="search-criteria-check-box">
            <span> Unknown </span>
            <input type="checkbox" value="1">
        </div>
        <div class="search-criteria-check-box">
            <span> Familiar </span>
            <input type="checkbox" value="2">
        </div>
        <div class="search-criteria-check-box">
            <span> Well Known </span>
            <input type="checkbox" value="3">
        </div>
    </div>
    <select name="word-limit" id="word-limit">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
    </select>
    <button id="word-search-button" class="search-button" type="submit"> Search! </button>
</div>