<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/normalize.css">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <title>Japarner</title>
</head>

<body>
    <br>
    <%- body %>
    <br>
    <script src="scripts/tagsList.js"></script>
    <script src="scripts/index.js"></script>
</body>

</html>