<%- include ("partials/header") %>
<div class="title-container">
    hi <%= name %>
<h2 class="page-title"> Add Words </h2>
</div> 
<%- include ("partials/addWordForm") %>
<%- include ("partials/createLabel") %>