<div class="word-content">
    <span class="word-content-text"></span>
</div>
<div class="word-example">
    <span class="word-example-text"></span>
</div>

<input class="meaning-input" type="text"> 
<input class="reading-input" type="text">