<h1 class="login-title">Japarner Login</h1>
<% if (messages.error){ %>
<%= messages.error %>
<% } %>
<form method="POST" action="/login" class="login-form">
    <input type="email" id="email" name="email" placeholder="Email">
    <input type="password" id="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
    <a href="/register">Register</a>
</form>
