<h1>login</h1>
<% if (messages.error){ %>
<%= messages.error %>
<% } %>
<form method="POST" action="/login">
    <input type="text" id="username" name="username" placeholder="Username">
    <input type="email" id="email" name="email" placeholder="Email">
    <input type="password" id="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
</form>
<a href="/register">Register</a>