.rate * , 
.lvlOfKnowledge > p{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate > input {
    display:none;
}
.rate > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate > input:checked ~ label {
    color: #ffc700;    
}




/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */