.rate * , 
.knowledge-level > p{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate > input {
    display:none;
}
.rate > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate > input:checked ~ label {
    color: #ffc700;    
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */


.tag-list{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.tag-element{
    display: inline;
    position: relative;
}
.tag-input{
    border: 0px black solid;
    position: relative;
}
.tag-input:focus {
    outline: 0px solid white;
}


/*  */


.autocomplete-list{
    background: white;
    border-top: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    top: 100%;
    position: absolute;
}

.unit-suggestion:hover {
    background: gray;
}
.autocomplete-active{
    background: blue !important;
}



.hidden{
    display: none;
}