.tagList{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}
.tagElement{
    display: inline;
}
#tagInput{
    border: 0px black solid;
}
#tagInput:focus {
    outline: 0px solid white;
}